@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

#clock {
    font-family: Orbitron;
    font-weight: 900;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 40%;
}