{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block stylesheets %}
    {{ super() }}
    <style>
        .entries {
            min-width: 30% !important;
            min-height: 80vh !important;
        }

        #markings {
            padding: 3% !important;
            margin-top: 20px;
            min-height: 80% !important;
        }

        ::-webkit-scrollbar {
            width: 7px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #cfcece;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-track {
            background-color: #f8f8f2;
        }
    </style>
{% endblock %}

{% block body %}
    <header class="bg-gray-100 mb-5">
        <nav class="border-gray-200 dark:bg-gray-900">
            <div class="max-w-screen-xl flex justify-between mx-auto p-1">

                <div class="flex">
                    <div class="px-4">
                        <span class="block text-sm text-gray-900 dark:text-white">
                            {{ user.name }}
                        </span>
                        <span class="block text-xs text-gray-500 truncate dark:text-gray-400">
                            {{ user.username }}
                        </span>
                    </div>
                </div>

                <div>
                    <ul class="flex" aria-labelledby="user-menu-button">
                        <li class="items-center">
                            <a href="{{ url_for('preferences') }}"
                                class="px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                <i class="fa-solid fa-gear"></i> Preferências
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for('logout') }}"
                                class="px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                <i class="fa-solid fa-right-from-bracket"></i> Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="flex justify-center space-x-6 mx-auto">
        <div class="flex entries flex-col justify-between max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <div style="border-bottom: 1px solid #e5e5e5;">
                <h1 class="flex items-center justify-between mb-5 text-2xl font-semibold text-gray-600 dark:text-gray-400 dark:text-white"> 
                    Marcações 
                    <span id="current-date" class="bg-purple-100 text-purple-700 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-2"></span>
                </h1>
            </div>

            <div id="markings" class="overflow-y-auto h-64">
                {% if markings %}
                    {% for marking in markings %}                
                        <ol class="relative border-l border-gray-200 dark:border-gray-700">
                            <li class="mb-10 ml-6">
                                {% if marking.is_entry %}
                                    <span class="absolute text-green-400 flex items-center justify-center w-6 h-6 bg-green-50 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                                        <i class="fa-solid fa-clock"></i>
                                    </span>
                                {% else %}
                                    <span class="absolute text-red-400 flex items-center justify-center w-6 h-6 bg-red-50 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                                        <i class="fa-solid fa-clock"></i>
                                    </span>
                                {% endif %}

                                <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600">
                                    <div class="items-center justify-between mb-3 sm:flex">
                                        <div class="font-normal text-gray-500 lex dark:text-gray-300">
                                            {{ marking.created.strftime('%H:%M') }}
                                            {% if marking.is_entry %}
                                                <span class="bg-green-100 text-green-800 text-xs font-normal px-2.5 py-0.5 rounded dark:bg-gray-600 dark:text-gray-300">Entrada</span>
                                            {% else %}
                                                <span class="bg-red-100 text-red-800 text-xs font-normal px-2.5 py-0.5 rounded dark:bg-gray-600 dark:text-gray-300">Saída</span>
                                            {% endif %}
                                            
                                        </div>
                                    </div>

                                    {% if marking.description %}
                                        <div class="p-3 text-xs italic font-normal text-gray-500 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300">
                                            {{ marking.description }}
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        </ol>
                    {% endfor %}
                {% else %}
                    <span class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 font-bold tracking-tight text-gray-900 dark:text-white"> Ainda não há marcações para hoje </h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">
                            Adicione marcações clicando no botão abaixo e visualize seus registros.
                        </p>
                    </span>
                {% endif %}
            </div>

            <div data-dial-init class="flex justify-end items-end">
                <!-- Modal toggle -->
                <button data-modal-target="static-modal" data-modal-toggle="static-modal" class="flex items-center justify-center text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 rounded-full w-14 h-14 dark:bg-blue-600 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800 group" type="button">
                    <i class="fa-solid fa-plus w-6 h-6 transition-transform group-hover:rotate-45"></i>
                </button>

                {% include "confirm_modal.html" %}
            </div>
        </div>

        <div class="clock-container">
            <div class="flex space-x-6">
                <div class="w-full block mb-5 text-center max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5>Horas trabalhadas</h5>
                </div>

                <div class="w-full block mb-5 text-center max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5>Previsão de saída</h5>
                </div>
            </div>

            <div class="w-full block text-center p-6 bg-white mt-5 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <div id="calendar"></div>
            </div>
        </div>

        <div class="block entries max-w-sm space-y-6 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h1 class="flex items-center justify-between mb-5 text-2xl font-semibold text-gray-600 dark:text-gray-400 dark:text-white">Horário</h1>

            <div class="w-full block text-center p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h1 class="text-5xl font-extrabold text-gray-900 dark:text-white">
                    <span id="clock" class="text-transparent bg-clip-text bg-gradient-to-br from-purple-600 to-blue-500"> -- -- -- </span>
                </h1>

                <script src="{{ url_for('static', filename='js/clock.js') }}"></script>
            </div>

            <div class="w-full block text-center max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5>Card informativo</h5>
            </div>

            <div class="w-full block text-center max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5>Card informativo</h5>
            </div>

            <div class="w-full block text-center max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5>Card informativo</h5>
            </div>
        </div>
    </div>

    <footer class="fixed bottom-0 bg-gray-50 w-full">
        <div class="w-full max-w-screen-xl mx-auto mb-4">
            <hr class="my-4 border-gray-200 sm:mx-auto dark:border-gray-700" />
            <span class="block mb-0 text-sm text-gray-500 sm:text-center dark:text-gray-400">
                © Feito com <i class="fa-solid fa-heart"></i> {#HERE: ADD GITHUB LINK #}
            </span>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ super() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                dayMaxEvents: true,
                buttonText: {
                    today: 'Hoje',
                },
            });
            calendar.render();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.fc-toolbar-chunk button').addClass('mb-5 text-2xl font-semibold text-gray-600 dark:text-gray-400 dark:text-white');
            $('.fc-toolbar-title').addClass('mb-5 text-2xl font-semibold text-gray-600 dark:text-gray-400 dark:text-white');
            $('.fc-day').addClass('font-normal text-gray-800 lex dark:text-gray-300');
            $('.fc-col-header-cell').addClass('bg-purple-100');
            $('.fc-col-header-cell-cushion').addClass('text-purple-700 text-sm font-semibold');
        });
    </script>

    <script>
        $(document).ready(function() {
            $.ajax({
                url: '/get_current_date/',
                type: 'GET',
                success: function(response) {
                    $('#current-date').html(response.current_date);
                }
            });
        });
    </script>
{% endblock %}
